.birthday-page{
    position:relative;
    width:100%;
    min-height:100vh;
    overflow:hidden;
}

/* Background */

.cinematic-bg{
    position:fixed;
    inset:0;
    z-index:0;
}

/* Dark Overlay */

.birthday-overlay{

    position:fixed;

    inset:0;

    background:
        linear-gradient(
            rgba(0,0,0,.30),
            rgba(0,0,0,.35)
        );

    z-index:2;

}

/* Letter */

.letter-wrapper{

    position:relative;

    z-index:20;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    padding:70px 20px;

}