.orbit{

     position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    animation: rotateOrbit 45s linear infinite;

    z-index: 20;

    pointer-events: none;
 } 



.orbit-arm{

    position:absolute;

    width:100%;
    height:100%;

    left:0;
    top:0;

    transform-origin:center center;
}

.orbit-photo{

    position:absolute;

   

    border-radius:50%;

    object-fit:cover;

    border:4px solid #d4af37;

    left:50%;

   

    width:150px;
    height:150px;

    margin-left:-40px;

    top:-50px;

    cursor:pointer;

    box-shadow:0 0 25px rgba(212,175,55,.5);

    transition:.4s;
}

.orbit-photo:hover{

    transform:scale(1.12);

    box-shadow:0 0 45px gold;
}

@keyframes rotateOrbit{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}